@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
}

html, body, * {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #dfdfe6 transparent; /* Cor do scroll e da trilha */
}

body{
  background-color: white !important;
}

@layer utilities {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #dfdfe6 transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: #dfdfe6;
    border-radius: 3px;
  }
}


@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 180 44% 31%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 180 44% 31%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Personaliza a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 6px !important; /* Deixa a barra mais fina */
  height: 6px !important;
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: transparent !important; /* Cor do fundo da trilha */
}

/* Cor da barra em si */
::-webkit-scrollbar-thumb {
  background: #dfdfe6 !important;
}
